.home-container {
  background-color: rgba(180, 211, 230, 0.986);
}

.home-p {
  border-radius: 15px;
  width: 175px;
  box-shadow: 5px 5px 5px gray;
}

.btn:hover .course-btn {
  color: white;
}
.home-services {
  background-color: #6710f238;
}
